[Unit]
Description=Mount Games via CIFS

[Mount]
What=//192.168.1.3/Games
Where=/media/dire/games
Type=cifs
Options=credentials=/root/.smb,iocharset=utf8,vers=3.0,noperm,x-gvfs-name=DIRE\134Games,x-gvfs-hide,x-systemd.automount

[Install]
WantedBy=multi-user.target

